.bar ul {
    min-width: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 76, 85);
    width: 100%;
    line-height: 50px;
    font-size: 30px;
    font-family: 'serif';
    color: white;
}
.bar li {
    min-width: max-content;
    float: left;
    width: 50%;
    display: block;
    text-align: center;
    text-decoration: none;
}
.bar li .glyphicon {
    padding: 0;
    line-height: 50px;
    width: 50%;
}

.bar li label {
    text-transform: capitalize;
    display: block;
    white-space: nowrap;
}
