
.abcRioButtonBlue {
    padding: 10px 0 10px 0;
}

.abcRioButtonContents {
    display: flex;
    background-color: #4285f4;
    height: max-content;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
}

.googleLogo {
    background: white;
    border: .5px solid transparent;
    border-radius: 5px;
    width: 30%;
    height: 100%;
    margin: .55%;
}
.googleButton {
    background-color: #4285f4;
    margin: .55%;
    width: 170%;
    height: max-content;
    color: white;
    white-space: nowrap;
    font-family: Roboto,arial,sans-serif;
    }