.react-datetime-picker {
    display: inline-block;
    margin: 14px;
}
.rooms ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    line-height: 50px;
    font-size: 14px;
    font-family: 'serif';
    display: grid;
}

.rooms li {
    margin: 5px 0 5px 0;
    width: 100%;
    border-radius: 4px;
}

.rooms .list b {
    font-family: sans-serif;
}
.rooms a {
    color: black;
    text-decoration: none;
}
button {
    background-color: transparent;
    color: white;
}